body {
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    gap: 10px;
}

.navbar>div {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-div1 {
    width: 10%;
}

.navbar-div2 {
    width: 60%;
}

.navbar-div3 {
    width: 20%;
}

.navbar img {
    max-height: 40px;
    width: auto;
}

.navbar input[type="text"] {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.navbar button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #d9a614;
}



.navbar .imdb-button {
    background-color: #F5C518;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.navbar .imdb-button:hover {
    cursor: auto;
    background-color: #F5C518;
}

/* .registration .registration-container{
    display: flex;

} */
.registration-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 50px auto;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.registration .left-div,
.registration .right-div {
    width: 45%;
    padding: 20px;
}

.registration .left-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registration h1 {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.registration button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration .image-div {
    width: 20%;
}

.registration .create-account {
    background-color: #F5C518;
}

.registration .create-account:hover {
    background-color: #F5C510;
}


.registration .divider-text {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.registration .divider-text span {
    background-color: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    font-weight: 600;
}

.registration .divider-text::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
}

.registration p {
    margin-bottom: 15px;
}

.registration strong {
    font-weight: 700;
}

.registration img {
    height: 20px;
    margin-right: 10px;
    /* display: block; */
    vertical-align: middle;
}

.registration .button-div {
    display: flex;
    width: 55%;
}