.coming-soon-container {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin-top: 20px;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.coming-soon-container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
}

.coming-soon-container .movies-container {
    display: flex;
    flex-direction: row;
    /* Updated to create a row layout */
    flex-wrap: wrap;
    /* Allows items to wrap if they exceed container width */
    gap: 10px;
    /* Adds space between movie items */
}

.coming-soon-container .movie-item {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
}

.coming-soon-container .movie-item img {
    width: 100px;
    height: 150px;
    border-radius: 6px;
}

.coming-soon-container .movie-item-link {
    text-decoration: none;
    /* Remove underline from the link */
    color: inherit;
    /* Inherit color from parent */
    display: block;
    /* Make the link a block-level element */
    cursor: pointer;
}