.movie-details-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
}

.movie-details-container img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.movie-details-text {
  flex-grow: 1;
  color: white;
}

.movie-details-text h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.movie-details-text p {
  margin: 5px 0;
  font-size: 20px;
}
